APP_HOST=0.0.0.0
APP_PORT=8081
APP_SECRET_KEY=change-this-to-a-long-random-string
WEB_LOGIN_PASSWORD=change-this-password
SCRIPT_API_TOKEN=change-this-script-token
SESSION_DAYS=7
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=change-this-db-password
DB_NAME=bookmanager
DB_CONNECT_RETRIES=30
DB_CONNECT_RETRY_DELAY=3
GUNICORN_WORKERS=2
GUNICORN_THREADS=4
APP_SSL_CERT_FILE=/etc/nginx/ssl/shuijing.site.pem
APP_SSL_KEY_FILE=/etc/nginx/ssl/shuijing.site.key
